.card-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 207, 237);
  border: 2px solid black;
  border-radius: 15px;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.card-container:hover {
  transform: scale(1.05);
}

.user-name,
.user-email {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.user-email {
  margin-top: 0;
}

.user-image {
  filter: drop-shadow(5px 5px 5px #000000);
}
