.search-box {
  -webkit-appearance: none;
  border: none;
  outline: none;
  padding: 10px;
  width: minmax(100vw, 150px);
  line-height: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
}

.search-box:focus {
  outline: 2px dotted white;
  outline-offset: 3px;
}
